.bg-primary {
  background-color: #1e78a2!important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav-link.active.py-3.px-0.px-lg-0.rounded.js-scroll-trigger {
}

a:hover {
  color: #0f7864;
}

